* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: white;
}

#buttonContainer{
    display: flex;
}
.buttons {
    height: 115px;
    width: 215px;
    font-size: 40px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

#startTimer {
    background: rgb(92, 247, 92);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#startTimer:hover {
    color: black;
    text-shadow: none;
}

#stopTimer {
    background: red;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#stopTimer:hover {
    color: black;
    text-shadow: none;
}

#pausTimer {
    background: rgb(0, 89, 255);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#pausTimer:hover {
    color: black;
    text-shadow: none;
}

.buttons:active {
    border: 2px solid black;
}

#timerInput {
    margin-top: 25px;
    height: 230px;
    width: 800px;
    font-size: 166px;
    text-align: center;
}

#timerInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#listContainer {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;
}

#listContainer p {
    font-family: sans-serif;
}

ul {
    margin-top: 20px;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-family: sans-serif;
}

#enterExerciseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enterExerciseContainer label {
    font-size: 46px;
}

#enterExerciseContainer input {
    height: 42px;
    width: 270px;
    font-size: 28px;
}

#restInput {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    align-items: center;
    margin-bottom: 35px;
}

#submitButtonContainer {
    display: flex;
    justify-content: center;
}

#submitButtonContainer button {
    background: #04baff;
    border: none;
    color: white;
}

#submitButtonContainer button:hover {
    color: black;
}

#submitButtonContainer button:active {
    border: 2px solid black;
    color: black;
}

#setupContainer {
    display: flex;
}

.setupContainer_mini {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.setupContainer_mini p {
    font-size: 18px;
    margin-bottom: 4px;
    font-family: sans-serif;
}

.setupContainer_mini input {
    width: 108px;
    height: 50px;
    font-size: 42px;
    text-align: -webkit-center;
}